sky_news_demo/templates/simple_async_operator.json
{
	"StartAt": "Is %%OPERATOR_NAME%% Enabled?",
	"States": {
		"Is %%OPERATOR_NAME%% Enabled?": {
			"Type": "Choice",
			"Choices": [{
				"Variable": "$.configuration.%%OPERATOR_NAME%%.enabled",
                "BooleanEquals": %%OPERATOR_ENABLED%%,
				"Next": "Is %%OPERATOR_NAME%% Media Type?"
			}],
			"Default": "%%OPERATOR_NAME%% Not Started"
		},
		"Is %%OPERATOR_NAME%% Media Type?": {
			"Type": "Choice",
			"Choices": [{
				"Variable": "$.configuration.%%OPERATOR_NAME%%.mediaType",
				"StringEquals": "%%OPERATOR_MEDIA_TYPE%%",
				"Next": "Execute %%OPERATOR_NAME%%"
			}],
			"Default": "%%OPERATOR_NAME%% Not Started"
		},
		"%%OPERATOR_NAME%% Not Started": {
			"Type": "Succeed"
		},
		"Execute %%OPERATOR_NAME%%": {
			"Type": "Task",
			"Resource": "%%%EXECUTION_LAMBDA_ARN%%",
			"ResultPath": "$.outputs",
            "OutputPath": "$.outputs",
			"Next": "%%OPERATOR_NAME%% Wait",
			"Retry": [ {
   				"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.Unknown", "MasExecutionError"],
                "IntervalSeconds": 2,
				"MaxAttempts": 2,
				"BackoffRate": 2
			}
			],
			"Catch": [
            {
               "ErrorEquals": ["States.ALL"],
               "Next": "%%OPERATOR_NAME%% Failed",
               "ResultPath": "$.outputs"
            }
			]
		},
		"%%OPERATOR_NAME%% Wait": {
			"Type": "Wait",
			"Seconds": %%RETRY_SECONDS%%,
			"Next": "Get %%OPERATOR_NAME%% Status"
		},
		"Get %%OPERATOR_NAME%% Status": {
			"Type": "Task",
			"Resource": "%%GET_STATUS_LAMBDA_ARN%%",
			"Next": "Did %%OPERATOR_NAME%% Complete",
			"Retry": [ {
   				"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.Unknown", "MasExecutionError"],
                "IntervalSeconds": 2,
				"MaxAttempts": 2,
				"BackoffRate": 2
			}
			],
			"Catch": [
            {
               "ErrorEquals": ["States.ALL"],
               "Next": "%%OPERATOR_NAME%% Failed",
               "ResultPath": "$.outputs"
            }
			]
		},
		"Did %%OPERATOR_NAME%% Complete": {
			"Type": "Choice",
			"Choices": [{
					"Variable": "$.status",
					"StringEquals": "Executing",
					"Next": "%%OPERATOR_NAME%% Wait"
				},
				{
					"Variable": "$.status",
					"StringEquals": "Complete",
					"Next": "%%OPERATOR_NAME%% Succeeded"
				}
			],
			"Default": "%%OPERATOR_NAME%% Failed"
		},
		"%%OPERATOR_NAME%% Failed": {
			"Type": "Task",
			"Resource": "%%FAILED_LAMBDA_ARN%%",
            "ResultPath": "$.outputs",
			"Retry": [ {
   				"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.Unknown"],
                "IntervalSeconds": 2,
				"MaxAttempts": 2,
				"BackoffRate": 2
			}
			],
            "End": true
		},
		"%%OPERATOR_NAME%% Succeeded": {
			"Type": "Succeed"
		}
	}
}