source/initial_architecture_v1/preprocess.json
{
  "StartAt": "Stage Name",
  "States": {
    "Stage Name": {
      "Type": "Pass",
      "Result": {
        "stage": "preprocess"
      },
      "ResultPath": "$.stage",
      "Next": "Convert to Audio"
    },
    "Convert to Audio": {
      "Type": "Pass",
      "Result": {
        "service_name": "media_convert",
        "function_name": "start_media_convert"
      },
      "ResultPath": "$.lambda",
      "Next": "Start MediaConvert"
    },
    "Start MediaConvert": {
      "Type": "Task",
      "Resource": "$your_preprocess_lambda_arn",
      "InputPath": "$",
      "ResultPath": "$.mediaConvert",
      "Next": "Did MediaConvert Start"
    },
    "Did MediaConvert Start": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.mediaConvert.jobDidStart",
        "BooleanEquals": true,
        "Next": "MediaConvert Wait"
      }],
      "Default": "Job Failed"
    },
    "MediaConvert Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Get MediaConvert Status Params"
    },
    "Get MediaConvert Status Params": {
      "Type": "Pass",
      "Result": {
        "service_name": "media_convert",
        "function_name": "get_status"
      },
      "ResultPath": "$.lambda",
      "Next": "Get MediaConvert Status"
    },
    "Get MediaConvert Status": {
      "Type": "Task",
      "Resource": "$your_preprocess_lambda_arn",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Did MediaConvert Complete"
    },
    "Did MediaConvert Complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.mediaConvert.status",
          "StringEquals": "FAILED",
          "Next": "Job Failed"
        },
        {
          "Variable": "$.mediaConvert.status",
          "StringEquals": "COMPLETE",
          "Next": "Job Succeeded"
        }
      ],
      "Default": "MediaConvert Wait"
    },
    "Job Failed": {
      "Type": "Fail"
    },
    "Job Succeeded": {
      "Type": "Pass",
      "Result": {
        "status": "complete"
      },
      "ResultPath": "$.stageStatus",
      "Next": "Update Key"
    },
    "Update Key": {
      "Type": "Pass",
      "InputPath": "$.key", 
      "ResultPath": "$.outputs.key",
      "Next": "Update Destination"
    },
    "Update Destination": {
      "Type": "Pass",
      "InputPath": "$.mediaConvert.data.Job.Settings.OutputGroups[0].OutputGroupSettings.FileGroupSettings.Destination", 
      "ResultPath": "$.outputs.destination",
      "Next": "Update File Type"
    },
    "Update File Type": {
      "Type": "Pass",
      "InputPath": "$.mediaConvert.data.Job.Settings.OutputGroups[0].Outputs[0].Extension", 
      "ResultPath": "$.outputs.file_type",
      "End": true
    }
  }
}

